/* style.css */

.formatting-alignment{
    text-align: center;
    font-style: "Times New Roman", Serif, Sans-serif;
    margin: 45, 125, 45; 
    background-color:rgb(194, 225, 235);    
}

p{
    font-size: large;
}

ul {
    padding-left: 100px;
    padding-right: 100px;
}

ul li {
    text-align: left;
    list-style-position: inside;
}

ol {
    padding-left: 100px;
    padding-right: 100px;
}

ol li{
    text-align: left;
    list-style-position: inside;
}

.list{
    position: relative;
}

.lis.list-of-links{
    text-align: center;
    padding-left: 500px;
}