/* style.css */

.formatting-alignment{
    text-align: center;
    font-style: "Times New Roman", Serif, Sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(194, 225, 235);
}

.list{
    position: relative;
}