/* style.css */

.formatting-alignment{
    text-align: center;
    font-style: "Times New Roman", Serif, Sans-serif;
    margin: 30, 100, 30; 
    background-color:rgb(194, 225, 235);    
}

p{
    font-size: medium;
}

ul {
    padding-left: 200px;
}
ul li {
    text-align: left;
    list-style-position: inside;
}
ol {padding-left: 200px;
}
ol li{
    text-align: left;
    list-style-position: inside;
}
.list{
    position: relative;
}